<h3>Pools</h3>
<p>
  Please configure an ip-scope that the VIA service will offer bare metal
  provisioning to.
</p>
<button class="btn btn-outline btn-sm" (click)="showPoolModal('add')">Add Pool</button>

<div class="alert alert-danger" role="alert" *ngIf="errors">
  <div class="alert-items">
    <div class="alert-item static" *ngFor="let error of (errors | keyvalue)">
      <div class="alert-icon-wrapper">
        <svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="alert-icon">
          <path d="M18,6A12,12,0,1,0,30,18,12,12,0,0,0,18,6Zm0,22A10,10,0,1,1,28,18,10,10,0,0,1,18,28Z">
          </path>
          <path d="M18,20.07a1.3,1.3,0,0,1-1.3-1.3v-6a1.3,1.3,0,1,1,2.6,0v6A1.3,1.3,0,0,1,18,20.07Z"></path>
          <circle cx="17.95" cy="23.02" r="1.5"></circle>
        </svg>
      </div>
      <span class="alert-text">
        {{ error.value }}
      </span>
    </div>
  </div>
</div>

<h3>DHCP Scopes</h3>
<clr-datagrid>
  <clr-dg-column>Network</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Start Address</clr-dg-column>
  <clr-dg-column>End Address</clr-dg-column>
  <clr-dg-column>Gateway</clr-dg-column>
  <clr-dg-column>Action</clr-dg-column>

  <clr-dg-row *ngFor="let pool of pools">
    <clr-dg-cell>{{ pool.net_address }}/{{ pool.netmask }}</clr-dg-cell>
    <clr-dg-cell>{{ pool.name }}</clr-dg-cell>
    <clr-dg-cell>{{ pool.start_address }}</clr-dg-cell>
    <clr-dg-cell>{{ pool.end_address }}</clr-dg-cell>
    <clr-dg-cell>{{ pool.gateway }}</clr-dg-cell>
    <clr-dg-cell>
      <button class="btn btn-primary btn-sm" (click)="showPoolModal('edit', pool.id)">
        edit scope
      </button>
      <button class="btn btn-warning-outline btn-sm" (click)="remove(pool.id)">
        remove
      </button>
    </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="showPoolModalMode">
  <h3 *ngIf="showPoolModalMode === 'add'" class="modal-title">Add Pool</h3>
  <h3 *ngIf="showPoolModalMode === 'edit'" class="modal-title">Edit Pool</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="form" (ngSubmit)="submit()">
      <cds-form-group style="max-width: 155px" layout="vertical">
        <cds-input-group>
          <label class="clr-col-8 form-input">Network/Mask</label>
          <cds-input style="max-width:90px">
            <label class="clr-col-8 form-input">Network</label>
            <input placeholder="192.168.0.0" type="url" formControlName="net_address" />
          </cds-input>
          <cds-input style="max-width:18px">
            <label class="clr-col-8 form-input"></label>
            <input placeholder="/" type="text" readonly />
          </cds-input>
          <cds-input style="max-width:45px">
            <label class="clr-col-8 form-input">Mask</label>
            <input placeholder="24" type="number" formControlName="netmask" />
          </cds-input>
        </cds-input-group>
        <cds-input>
          <label class="clr-col-10 form-input">Network name</label>
          <input placeholder="eg. mgmt network" type="text" formControlName="name" name="name" />
        </cds-input>
        <cds-input>
          <label class="clr-col-8 form-input">IP pool start</label>
          <input placeholder="eg. 172.16.13.10" type="text" formControlName="start_address" name="start_address" />
        </cds-input>
        <cds-input>
          <label class="clr-col-8 form-input">IP pool end</label>
          <input placeholder="eg. 172.16.13.110" type="text" formControlName="end_address" name="end_address" />
        </cds-input>
        <cds-input>
          <label class="clr-col-8 form-input">Gateway</label>
          <input placeholder="eg. 172.16.13.1" type="text" formControlName="gateway" name="gateway" />
        </cds-input>
      </cds-form-group>
    </form>
    <div class="alert alert-danger" role="alert" *ngIf="errors">
      <div class="alert-items">
        <div class="alert-item static" *ngFor="let error of (errors | keyvalue)">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">
            {{ error.value }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="showPoolModalMode = ''">
      Cancel
    </button>
    <button *ngIf="showPoolModalMode === 'add'" type="button" class="btn btn-primary" (click)="submit()">
      Add
    </button>
    <button *ngIf="showPoolModalMode === 'edit'" type="button" class="btn btn-primary" (click)="updatePool()">
      Update
    </button>
  </div>
</clr-modal>