<div class="content-container">
    <div class="content-area">
       <p> <router-outlet></router-outlet></p> 
    </div>
    <clr-vertical-nav>
        <a clrVerticalNavLink routerLink="./help" routerLinkActive="active">Help</a>
        <a clrVerticalNavLink routerLink="./manage-users" routerLinkActive="active">Users</a>
        <a clrVerticalNavLink routerLink="./logs" routerLinkActive="active">Logs</a>
        <a clrVerticalNavLink routerLink="./theme" routerLinkActive="active">Theme</a>
    </clr-vertical-nav>
  </div>
