<div class="content-container">
    <div class="content-area">
       <p> <router-outlet></router-outlet></p> 
    </div>
    <clr-vertical-nav>
        <a clrVerticalNavLink routerLink="./wizard" routerLinkActive="active">Guided Wizards</a>        
        <a clrVerticalNavLink routerLink="./manage-images" routerLinkActive="active">Images</a>
        <a clrVerticalNavLink routerLink="./manage-groups" routerLinkActive="active">Host Deployments</a>
        <a clrVerticalNavLink routerLink="./manage-dhcp-pools" routerLinkActive="active">DHCP Pools</a>
        <a clrVerticalNavLink routerLink="./dhcp-leases" routerLinkActive="active">DHCP Leases</a> 
    </clr-vertical-nav>
</div>


