<h3> Images </h3>

<div class="row">
    <div class="col-8">
      <label class="btn btn-default p-0">
        <input type="file" (change)="selectFile($event)" />
      </label>
    </div>
  
    <div class="col-4">
      <button class="btn btn-outline btn-sm" [disabled]="!selectedFiles" (click)="upload()">
        UPLOAD ISO
      </button>
    </div>
  </div>
  
  <div *ngIf="currentFile" class="progress my-3">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
  
  <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
  

<clr-datagrid>
  <clr-dg-column>ISO Image</clr-dg-column>
  <clr-dg-column>action</clr-dg-column>

  <clr-dg-row *ngFor="let image of images">
    <clr-dg-cell>{{image.iso_image}}</clr-dg-cell>
    <clr-dg-cell>
      <button class="btn btn-warning-outline btn-sm" (click)="remove(image.id)">remove</button>
    </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>