<!-- <main cds-text="body" cds-layout="vertical gap:lg p:lg"> -->

  <div class="main-container">
    <header class="header-6">
      <div class="branding">
        <a href="..." class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">go-via</span>
        </a>
    </div>
    <div class="header-actions">
        <a href="..." class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
    </header>
    <div class="content-container">
      <clr-vertical-nav>
        <a clrVerticalNavLink routerLink="./manage-dhcp-pools" routerLinkActive="active">DHCP Pools</a>
        <a clrVerticalNavLink routerLink="./manage-images" routerLinkActive="active">Images</a>
        <a clrVerticalNavLink routerLink="./manage-groups" routerLinkActive="active">Groups</a>
        <a clrVerticalNavLink routerLink="./help" routerLinkActive="active">Help</a>
        <a clrVerticalNavLink routerLink="./logs" routerLinkActive="active">Logs</a>
      </clr-vertical-nav>
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

 <!-- </main> -->