<h3> Host groups </h3>
<p>Host groups are used to organize your hosts into groups that share the same image and configuration properties. This saves you time by being able to organize all hosts that will look the same, and simply configure the group with properties.</p>
<button class="btn btn-outline btn-sm" (click)="addGroup()">Add Group</button>

<div class="alert alert-danger" role="alert" *ngIf="errors">
	<div class="alert-items">
	  <div class="alert-item static" *ngFor="let error of errors | keyvalue">
		<div class="alert-icon-wrapper">
		  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
		</div>
		<span class="alert-text">
			{{error.value}}
		</span>
	  </div>
	</div>
</div>

<div *ngFor="let group of groups">
	<h6>{{group.name}}</h6>

	<clr-datagrid>
		<clr-dg-column>fqdn</clr-dg-column>
		<clr-dg-column>ip address</clr-dg-column>
		<clr-dg-column>mac address</clr-dg-column>
		<clr-dg-column>progress</clr-dg-column>
		<clr-dg-column>action</clr-dg-column>
		
		<clr-dg-row *ngFor="let host of group.hosts">
			<clr-dg-cell>{{host.hostname}}.{{host.domain}}</clr-dg-cell>
			<clr-dg-cell>{{host.ip}}</clr-dg-cell>
			<clr-dg-cell>{{host.mac}}</clr-dg-cell>
			<clr-dg-cell></clr-dg-cell>
			<clr-dg-cell>
				<button class="btn btn-warning-outline btn-sm" (click)="removeHost(host.id)">remove</button>
				<button class="btn btn-warning-outline btn-sm" (click)="reImageHost(host.id)">re-image</button>
			</clr-dg-cell>
		</clr-dg-row>
	</clr-datagrid>
    <button class="btn btn-outline btn-sm" (click)="addHostToGroup(group.id)">Add host</button>
	<button class="btn btn-outline btn-sm">Edit Group</button>
    <button class="btn btn-warning-outline btn-sm" (click)="removeGroup(group.id)">Remove</button>
</div>

<clr-modal [(clrModalOpen)]="showHostFormModal">
	<h3 class="modal-title">Add Host</h3>
	<div class="modal-body">
		<form clrForm [formGroup]="Hostform" (ngSubmit)="submit_host()">
			<cds-form-group control-width="shrink" layout="horizontal">
				<cds-input>
					<label>FQDN</label>
					<input placeholder="eg. esxi01.rainpole.io" type="text" formControlName="fqdn" name="fqdn"/>
				</cds-input>
				<cds-input>
					<label>IPAddress</label>
					<input placeholder="eg. 172.16.13.11" type="text" formControlName="ip" name="ip"/>
				</cds-input>
				<cds-input>
					<label>mac</label>
					<input placeholder="eg. aa:bb:cc:00:11:22" type="text" formControlName="mac" name="mac"/>
				</cds-input>
			</cds-form-group>	
		</form>
		<div class="alert alert-danger" role="alert" *ngIf="errors">
			<div class="alert-items">
			  <div class="alert-item static" *ngFor="let error of errors | keyvalue">
				<div class="alert-icon-wrapper">
				  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
				</div>
				<span class="alert-text">
					{{error.value}}
				</span>
			  </div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline" (click)="showHostFormModal = false">Cancel</button>
	  <button type="button" class="btn btn-primary" (click)="submit_host()">Add</button>
	</div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="showGroupFormModal">
	<h3 class="modal-title">Add Group</h3>
	<div class="modal-body">
		<form clrForm [formGroup]="Groupform" (ngSubmit)="submit_group()">
			<cds-form-group control-width="shrink" layout="horizontal">
				<cds-input>
					<label>Group name</label>
					<input placeholder="eg. sfo-m01" type="text" formControlName="name" name="name"/>
				</cds-input>
				<cds-input>
					<label>DNS</label>
					<input placeholder="eg. 172.16.0.2,172.16.0.3" type="text" formControlName="dns" name="dns"/>
				</cds-input>
				<cds-input>
					<label>NTP</label>
					<input placeholder="eg. 172.16.0.2,172.16.0.3" type="text" formControlName="ntp" name="ntp"/>
				</cds-input>
				<cds-input>
					<label>Password</label>
					<input placeholder="eg. VMware1!" type="password" formControlName="password" name="password"/>
				</cds-input>
				<cds-select  control-width="shrink">
					<label>Pool</label>
					<select name="pool_id" formControlName="pool_id">
						<option *ngFor="let pool of pools" [value]=pool.id >{{pool.name}}</option>
					</select>
			  </cds-select>
				<cds-select  control-width="shrink">
					<label>Image</label>
					<select name="image_id" formControlName="image_id">
						<option *ngFor="let image of images" [value]=image.id >{{image.iso_image}}</option>
					</select>
			  </cds-select>
			</cds-form-group>
		</form>
		<div class="alert alert-danger" role="alert" *ngIf="errors">
			<div class="alert-items">
			  <div class="alert-item static" *ngFor="let error of errors | keyvalue">
				<div class="alert-icon-wrapper">
				  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
				</div>
				<span class="alert-text">
					{{error.value}}
				</span>
			  </div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline" (click)="showGroupFormModal = false">Cancel</button>
	  <button type="button" class="btn btn-primary" (click)="submit_group()">Add</button>
	</div>
  </clr-modal>